/* src/styles.css */

/* Add this at the top */
@font-face {
  font-family: 'Minecraft';
  src: url('/minecraft-architecture-portfolio/src/assets/fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

body {
  font-family: 'Minecraft', sans-serif;
}

button, .MuiButton-root {
  background-color: #3e3e3e;
  border: 2px solid #7f7f7f;
  color: #ffffff;
  font-weight: bold;
  text-transform: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

button:hover, .MuiButton-root:hover {
  background-color: #5e5e5e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Minecraft', sans-serif;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
  }

  .MuiButton-root {
    width: 100%;
    margin-bottom: 10px;
  }

  .MuiToolbar-root {
    flex-direction: column;
    align-items: start;
  }

  .MuiIconButton-root {
    margin-left: auto;
  }
}
