/* Main */
.main-backround {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-backround h1, .main-backround h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 2px 8px #2c3e50;
}
.main-backround h1 {
  padding-top: 50px;
  font-size: 60px;
  color: #fff;
  margin-top: 0;
}
.main-backround h2 {
  padding-top: 15px;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
}

.main-info h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #2c3e50;
  text-align: center;
  padding-top: 5px;
}

.main-aboutme {
  margin: 10px;
  width: calc(100% - 20px);
  background: #ecf0f1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
  text-align: center;
}

.main-profilna {
  display: block;
  margin: 10px auto;
  width: 520px;
  height: 520px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
}

.main-personal {
  margin: 10px;
  width: calc(100% - 20px);
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
  text-align: center;
}

.main-maturski h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #2c3e50;
  padding-top: 5px;
  margin: 0;
  text-align: center;
}
.main-maturski .main-maturski-detail, .main-maturski p {
  margin: 10px;
  width: calc(100% - 20px);
  background: #ecf0f1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
  text-align: center;
  text-decoration: none;
}
.main-maturski img {
  display: block;
  margin: 10px auto 20px;
  width: 90%;
  background: #ecf0f1;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
}

.main-education h1, .main-education h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #2c3e50;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}
.main-education p {
  margin: 10px;
  width: calc(100% - 20px);
  background: #ecf0f1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #2c3e50;
  text-align: center;
}
.main-education .main-table-edu, .main-education td {
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
  padding: auto;
}
.main-education tr:nth-child(even) {
  background: #ecf0f1;
}

@media screen and (min-width: 1040px) {
  .main-backround h2 {
    width: 60%;
    margin: 0 auto;
  }
  .main-aboutme {
    width: 60%;
    max-height: 500px;
    margin: 50px 50px 0 50px;
    font-size: 25px;
    overflow: auto;
    display: block;
    float: left;
  }
  .main-profilna {
    margin-right: 100px;
    margin-top: 30px;
  }
  .main-maturski img {
    width: 60%;
  }
  .main-maturski-detail {
    font-size: 15px;
  }
  .main-maturski-detail.increased-font {
    font-size: 20px;
  }
  .main-maturski p {
    font-size: 15px;
  }
  .main-education p {
    margin: 0 auto;
    width: 75%;
    font-size: 20px;
  }
  .main-table-edu {
    width: 50%;
    height: 50%;
  }
}/*# sourceMappingURL=index.css.map */