// Variables
$background-color: #f3f3f3;

// Global Styles
* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  width: 100%;
}

// Main Content Styles
.allbutfooter {
  min-height: calc(100vh - 120px);
}
